@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

header {
  background: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-color: #ebfbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-title {
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container-title .header-text, header .container-title .header-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

header .container-title .header-title {
  margin-top: 45px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 25px;
}

header .container-title .header-text {
  font-size: 16px;
}

header #top_content {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #top_content button {
  background-color: white;
  border: 0px;
  border-radius: 25px;
  width: 150px;
  margin-right: 3%;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

header #top_content #logo {
  margin-left: 3%;
  width: 150px;
  padding: 10px;
}

header #top_content #logo img {
  width: 100%;
}

header .container-images {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container-images .image-mockups {
  width: 80%;
}

header #foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebfbff;
}

.btn_get_stard {
  margin-top: 20px;
  color: white;
  background-color: #ff52bf;
  border-radius: 20px;
  border: 0;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  width: 100%;
  word-spacing: 0.25em;
}

#last_container {
  padding-bottom: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: relative;
  padding-top: 10%;
  margin-top: 20%;
}

#last_container button {
  width: 70%;
}

.shadow-card {
  -webkit-box-shadow: 0px 0px 10px #ebebeb;
          box-shadow: 0px 0px 10px #ebebeb;
}

.shadow-card__foot {
  border-radius: 10px;
  -webkit-box-shadow: 0px -15px 9px -7px rgba(235, 235, 235, 0.66);
          box-shadow: 0px -15px 9px -7px rgba(235, 235, 235, 0.66);
  border: 1px solid rgba(235, 235, 235, 0.66);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container-images .image-mockups {
  width: 80%;
}

body .section__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container-title {
  width: 88%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

body .container-title .body-title {
  font-family: "Poppins", sans-serif;
  color: #00252e;
  font-weight: 700;
  font-size: 18px;
}

body .container-title .body-text {
  font-family: "Open Sans", sans-serif;
  color: #808d99;
}

body .images_cont {
  margin-top: 30px;
}

body #foot {
  padding-top: 42%;
  background-color: #00252e;
  color: #ebfbff;
  margin-top: -21%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 10%;
}

body #foot #location_container {
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 0%;
}

body #foot .logo_foot {
  height: 15% !important;
  width: auto;
  margin-left: 4%;
}

body #foot #text {
  margin-left: 8%;
}

body #foot .opc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7%;
  margin-left: 10%;
}

body #foot div {
  margin-left: 5%;
}

body #icons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
  margin-left: 0% !important;
}

body #icons_container div:first-of-type {
  width: 50%;
}

body #icons_container #span_icon {
  border-color: white;
  border: solid;
}

body #icons_container img {
  padding: 5%;
  border: solid;
  font-size: 1vw;
  border-radius: 100%;
  height: 33%;
}

body .icons_info_foot {
  margin-right: 5%;
}

body #location_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .card-body {
  border-radius: 15px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 750px) {
  section {
    padding-top: 90px;
  }
  .section__one {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container-title {
    width: 40% !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
  }
  .container-images {
    width: 48% !important;
  }
  .header-text {
    text-align: left !important;
  }
  .btn_get_stard {
    width: 40% !important;
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
  }
  .card-body {
    width: 90% !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex-card1 {
    width: 35% !important;
  }
  .flex-card1 img {
    width: 100% !important;
  }
  .flex-card2 {
    width: 60% !important;
    padding: 100px !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left !important;
  }
  .card-body-middle {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  #last_container {
    width: 54% !important;
    padding-bottom: 8%;
    margin-top: 17%;
  }
  #last_container p.body-title {
    font-size: 25px;
    width: 100%;
  }
  #foot {
    margin-top: -7% !important;
    padding-top: 14% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #foot .logo_foot {
    height: 26% !important;
  }
  #foot #icons_container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    padding-right: 5%;
  }
  #foot #icons_container div {
    width: 100%;
    text-align: left;
  }
  #foot #first_container_footer {
    -ms-flex-preferred-size: 40% !important;
        flex-basis: 40% !important;
  }
  #foot .opc {
    margin-top: 0% !important;
  }
}
/*# sourceMappingURL=main.css.map */